.dropdown > .accordionCollapse {
	overflow: hidden;
	padding: 0px;
	/* transition padding이 오류를 만들어 내는데, 이유를 모르겠다 */
	/* transition: padding 0.5s linear; */
	background-color: rgba(205, 205, 205, 0.6);
}
.accordionCollapse > div {
	transition: height 0.5s linear;
	height: 0;
}
.accordionCollapse.clicked > div {
	transition: height 0.5s linear;
	height: 30px;
}
