form {
	width: 90%;
	height: 15%;
	display: flex;
	justify-content: center;
}
fieldset {
	display: flex;
	flex-direction: column;
	width: 85%;
	height: 85%;
	font-size: 20px;
	font-family: 'Gowun Batang', 'Courier New', Courier, monospace;
}
input,
textarea {
	font-size: 16px;
	font-family: 'Gowun Batang', 'Courier New', Courier, monospace;
	resize: none;
}
label {
	padding: 2%;
}
