@import "./reset.css";


#header #menu .dropdown .menu1 {
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: 450;
  font-size: 1rem;
  border: 0;
  outline: 0;
  background-color: rgb(234, 232, 232);
  color: rgb(75, 75, 75);
  font-family: "Pretendard Variable", sans-serif; 
  padding: 0;
  transition: 0.3s;
}

#header #menu .dropdown .dropdownmenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 2%;
  flex-direction: column;
  transition: 0.3s;
  width: 60px;
  margin-top: 10px;
  position: fixed;
}

#header #menu .dropdown .dropdownmenu a {
  color: rgba(94, 94, 94, 0.834);
  font-weight: 400;
  font-size: 1rem;
  transition: 0.1s;
}

.active,
#header #menu .dropdown .dropdownmenu :hover {
  background-color: #f6fdfca4;
  border-radius: 2%;
  display: flex;
}

.iconmom {
  /*인삿말, 버튼 부모선택자*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconmom .icon {
  /*가운데 이미지*/
  width: 480px;
  height: 480px;
  margin-left: 550px;
  margin-bottom: 200px;
  transform: translateX(54px);
}

.iconmom h1 {
  /*hello world*/
  font-size: 5rem;
  margin-bottom: 310px;
  font-weight: 700;
  transform: translateX(10px);
}

.iconmom .text {
  transform: translateX(-430px) translateY(-75px);
}

.iconmom .text h2 {
  /*부제목*/
  text-align: center;
  margin-top: 90px;
  font-size: 1.5em;
}

.iconmom .text span {
  /*소개말*/
  font-weight: 250;
  text-align: left;
  display: flex;
  transform: translateY(-10px);
  margin-top: 25px;
  line-height: 18px;
}

.iconmom #button {
  /*전체 버튼*/
  font-weight: 500;
  font-size: 1.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 550px;
  transform: translateX(-765px) translateY(-150px);
}

.iconmom #button .button1 {
  border: 0.5px solid rgba(128, 128, 128, 0.44);
  width: 130px;
  height: 130px;
  background-color: #99a9a5e3;
  border-radius: 100px; /*요소 모서리 둥글게 */
  box-shadow: 2px 3px 8px rgba(112, 110, 110, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  text-decoration: none;
  color: rgb(35, 34, 34);
}
.iconmom #button .button2 {
  border: 0.5px solid rgba(128, 128, 128, 0.363);
  width: 130px;
  height: 130px;
  background-color: #bccec0;
  border-radius: 100px; /*요소 모서리 둥글게 */
  box-shadow: 2px 3px 8px rgba(112, 110, 110, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  text-decoration: none;
  color: rgb(35, 34, 34);
}
.iconmom #button .button3 {
  border: 0.5px solid rgba(128, 128, 128, 0.252);
  width: 130px;
  height: 130px;
  background-color: #b2c7c2;
  border-radius: 100px; /*요소 모서리 둥글게 */
  box-shadow: 2px 3px 8px rgba(112, 110, 110, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  text-decoration: none;
  color: rgb(35, 34, 34);
}

.iconmom #button .button1:hover {
  background-color: rgb(206, 214, 184);
}
.iconmom #button .button2:hover {
  background-color: rgba(175, 194, 166, 0.859);
}
.iconmom #button .button3:hover {
  background-color: rgb(212, 213, 199);
}

.footer {
  /*밑 전체*/
  font-weight: 550;
  font-size: 1.125rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 330px;
  border-top: 0.1px solid rgba(172, 172, 172, 0.748);
  padding-top: 30px;
  padding-left: 30px;
  margin-top: 40px;
}

.footer div {
  /*밑의 값*/
  font-size: 0.9375rem;
  font-weight: 200;
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: 8px;
  padding-bottom: 60px;
  color: rgb(81, 81, 81);
}
.last {
  /*이메일*/
  font-size: 0.75rem;
  font-weight: 100;
  margin-left: 1300px;
  display: flex;
  transform: translateY(-95px);
}
