@import "./reset.css";


.input {
  /* border: 1px solid red; */
  font-size: 1.2rem;
}

input[type="inputmessage"] {
  background-color: rgb(234, 232, 232);
  border: 0.5px solid rgba(128, 128, 128, 0.44);
  width: 200px;
  height: 250px;
  margin-top: 10px;
  padding-right: 100px;
}

.modal_btn {
  background-color: #bbc7c0c2;
  box-shadow: 2px 3px 8px rgba(112, 110, 110, 0.5);
  border: 0.5px rgba(128, 128, 128, 0.252);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  font-weight: 550;
  font-size: 1.375rem;
  transition: 0.3s;
  color: rgb(35, 34, 34);
  margin-left: 700px;
  margin-top: 300px;
}

.modal_wrap {
  display: none;
  width: 500px;
  height: 500px;
  position: absolute;
  border: 0.5px solid rgba(128, 128, 128, 0.252);
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
  background: #eee;
  z-index: 2;
  border-radius: 5px; /*요소 모서리 둥글게 */
}
.modal_background {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1;
  
}
.modal_close {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 10px;
  margin-left: 417px;
}

.modal_wrap .text {
  display: flex;
  color: rgb(81, 81, 81);
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.modal_close .closeImg {
  display: block;
  width: 60%;
  height: 60%;
  margin-left: 200%;
}

.modal_btn:hover {
  background-color: #c4d7ce;
}

.text .input .closeImg{
  border-radius: 5%;
  width: 70px;
  height: 30px;
  background-color: #b2c7c2;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 360px;
  transform: translateX(-234px);
  transition: 0.3s;
  box-shadow: 2px 3px 4px rgba(112, 110, 110, 0.2);
}

.text .input .closeImg:hover{
  background-color: #cedbc2;
}