* {
    margin: 0;
    padding: 0;
    font-family: 'Chosunilbo_myungjo';

}


@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '116watermelon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.0/116watermelon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EF_Rebecca';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_Rebecca.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.header {
    width: 100%;
    height: 100px;
    padding: 5vh 0vh 0vh 0vh;
    ;
    color: rgb(39, 38, 38);
    background-color: #fcfcfa;

}

#blogname {
    font-size: 40px;
    margin: 0px 0px 0px 40px;
    text-align: center;
    background-color: #fcfcfa;
}

#menuName {
    font-size: 20px;
    margin: 0px 0px 10px 0px;
    text-align: left;
    /* border: 1px solid gray; */
}

#contentName {
    font-size: 30px;
    margin: 0px;
    text-align: left;
    margin: 0px 0px 10px 0px;
    /* border: 1px solid gray; */
}

#date p:after {
    content: "";
    display: block;
    width: 60px;
    border-bottom: 1px solid #bcbcbc;
    margin: 20px auto;
}

#date {
    font-size: 15px;
    margin: 0px;
    text-align: left;
    /* border: 1px solid gray; */
}

.container {
    padding: 0px px 0 30px;
}

.nav {
    width: 100%;
    height: 60px;
    color: rgb(61, 69, 75);
    background-color: #fcfcfa;
    text-align: center;


}

ul {
    display: inline-block;
    padding: 10px;
    margin-left: 10vh;
}

.nav li {
    display: inline-block;
    padding: 0px 40px 0px 30px;

}

.li span {
    padding-top: 20px;

}


.blogIcon {
    width: 40px;
    padding: 10px 5px 5px 15px;
    float: left;
}

#menuList {
    list-style: none;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    font-weight: bold;

}

.aside li {
    list-style: none;
    padding: 4px 4px 6px 30px;

}



.content {
    border-radius: 5px;
    /* border: 1px solid gray; */
    /* margin: 10px; */
}

#title {
    border-radius: 5px;
    /* border: 1px solid gray; */
    margin-left: 2rem;
    height: 100px;
}

#main {
    height: 50rem;
}

#article {
    border-radius: 5px;
    /* border: 1px solid gray; */
    margin: 1em;
    text-align: center;
    height: 600px;

}

.homeContent {
    padding: 4em 6em 4em 16em;
    height: 24em;
    margin: 1em;
    position: relative;
    text-align: left;
    display: flex;
    /* border: 1px solid gray; */
}

.mainContent {
    padding: 2em 6em 2em 6em;
    height: 20em;
    margin: 1em;
    position: relative;
    text-align: left;

    /* border: 1px solid gray; */
}

.blogContent {
    padding: 2em 6em 2em 6em;
    height: 25em;
    margin: 1em;
    position: relative;
    text-align: left;
}



#intro {
    font-size: 40px;
    text-align: left;

}

#aboutmeintro {
    text-align: center;
    /* border: 1px solid gray; */
}

#subIntro {
    font-size: 16px;
    
}

#IntroText {
    display: flex;
}


#homeImage {
    /* border: 1px solid gray; */
    width: 10vh;
    /* height: 15vh; */
    margin: 0px 0px 0px 0px;
    float: right;
    border-radius: 210px 210px 0px 0px;
    top: 40px;
    left: 1000px;
    display: flex
}

#homeImage img {

    margin: 0px;
    float: right;
    border-radius: 210px 210px 0px 0px;

}

.lalaland {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lalaland img {
    width: 40rem;
    ;
}

#profileImage {
    width: 30rem;
    /* margin: 0rem 10rem 0rem 10rem; */
    /* padding: 0 10rem 0 10rem; */
    margin: auto;
    max-width: 100%;
    display: flex;
    /* 가운데 정렬을 위한 flex 속성 추가 */


}

#profileImage img {
    display: block;
    width: 120%;
    height: 50%;
    object-fit: cover;
    border-radius: 10rem 10rem 0rem 0rem;
    margin: auto;
    /* 이미지를 가운데 정렬하기 위한 margin 속성 추가 */
}


#description {
    border-radius: 5px;
    width: 90%;
    margin: 20px 30px 50px 0px;
    bottom: 0;
    padding: 0rem 0rem 0rem 5rem;
    /* height: 20vh; */
    align-items: center;
    text-align: center;

}

.text {
    align-items: center;
    text-align: center;
}



/* 모달 버튼 */
#modal_btn {
    background-color: #888686;
    width: 10rem;
    height: 3rem;
    border: none;
    margin: 2rem;
    bottom: 3rem;
    left: 14rem;
    border-radius: 2px;
    position: absolute;
}

#modal_btn_close {
    background-color: #888686;
    width: 10rem;
    height: 3rem;
    border: none;
    margin: 2rem;
    bottom: 3rem;
    left: 14rem;
    border-radius: 2px;

}



#modal_btn:hover {
    background: rgb(233, 202, 179);

}

.modal_content {
    margin: 12rem 5rem 5rem 5rem;
}

#modal_intro {
    font-size: 4vh;
    background: #d3d2d0;
}

#modal_subIntro {
    font-size: 1.5vh;
    background: #d3d2d0;

}

#modal_left {
    padding: 1vh;
    float: left;
    background: #d3d2d0;
}

#modal_right {
    background: #d3d2d0;
    float: right;
    text-align: center;
    bottom: 7vh;
    right: 5vh;
    padding-right: 10vh;
    position: absolute;

}

.modal_input {
    /* width: 40vh;
    height: 40vh; */
    background: #d3d2d0;

}


#modal_right input {
    width: 15rem;
    border: 1px solid #dddddd !important;
    font-size: 1rem;
    line-height: 1.45;
    letter-spacing: -0.04rem;
    border-radius: 8px;
    padding: 16px;
    background-color: rgb(254, 253, 246);
}



#modal_right li {
    padding: 1rem;
    list-style: none;
}

#modal_right ul {
    background: #d3d2d0;
}

.aside {
    width: 20%;
    height: 850px;
    background-color: #fcfcfa;
    float: right;
}


.section {
    width: 100%;
    height: 50rem;
    background-color: #fcfcfa;
    float: left;
}

.blogSection {
    width: 100%;
    background-color: #fcfcfa;
    float: left;
}

.footer {
    width: 100%;
  
    background-color: #fcfcfa;
    float: left;
}

#footerContent {
    margin: 10px;
}

/* 보라색 태그 없애기 */
a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: none;
}



/* 모달창 만들기 */
.modal_wrap {
    display: none;
    width: 60rem;
    height: 40rem;
    position: absolute;
    top: rem;
    bottom: 1rem;
    left: 20rem;
    margin: 1rem;
    background: #d3d2d0;
    z-index: 2;
}

.black_bg {
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    z-index: 1;
}

.modal_close {
    width: 26px;
    height: 26px;
    position: absolute;
    top: -30px;
    right: 0;
}

.modal_close>a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://img.icons8.com/metro/26/000000/close-window.png);
    text-indent: -9999px;
}


/* 메뉴 아이콘 */
.material-symbols-outlined {
    font-size: 10px;
}



/* dropdown middle */

.dropdown {
    position: relative;
    display: inline-block;
}

.button {
    padding: 10px 40px;
    font-size: 16px;
    background-color: #fcfcfa;
    color: rgb(26, 25, 25);
    border: none;

}

#drop-content {
    position: absolute;
    z-index: 1;
}

#drop-content a {
    display: block;
    font-size: 1.5vh;
    background-color: #f2eeeb;
    color: black;
    text-decoration: none;
    padding: 0.5rem 2rem;
    margin: 2px 0px 0px 0px;
}



/* 스텝퍼 */

.countBox {
    position: fixed;
    top: 50%;
    left: 75%;
    /* transform: translate(-50%,-50%); */
    padding: 20px 50px;
    box-sizing: border-box;
    background-color: #f9e1da;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #fed2d2;
    width: 100%;
    max-width: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.countBox h1 {
    color: #ffffff;
    font-size: 20px;
}

/* button {
    border: 0;
    background-color: transparent;
} */

.countNumber {
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin: 10px 0;
}

.countButtonWrap>button {
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background-color: #e78d8d;
    padding: 5px 10px;
}

/* 햄버거 버튼 */
.ham-btn {
    display: flex;
    align-items: center;
    margin-left: 15vh;
}

.menu-area {
    position: fixed;
    top: 0;
    right: 0;
    /* bottom: 0; */
    /* left: 0; */
    z-index: 9999;
    width: 20vw;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}

.menu-area.open {
    transform: translateX(0%);
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.menu-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
}

.gray-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background-color: rgba(156, 154, 154, 0.5);
    display: none;
}

.gray-bg.show {
    display: block;
    opacity: 1;
    z-index: 99;
}

/* 아코디언 */

#accordion-wrapper {
    margin: 5%;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.acc-container {
    width: 100%;
    max-width: 30rem;
    padding: 2rem;
    margin: 3rem auto;
    /* background: hsl(0, 0%, 14%); */
    border-radius: 1rem;
    /* border: 1px solid #222; */
    /* box-shadow: 0px 0px 34px -8px rgba(0, 0, 0, 0.55); */
}


.accordion {
    background-color: #333;
    color: #eee;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    border: 1px solid #bea4a4;
    text-align: left;
    outline: none;
    font-size: 1rem;
    transition: all 0.4s ease-out;
    box-shadow: 0px 0px 2px -1px rgba(204, 201, 201, 0.75);
}

.accordion:first-child {
    border-radius: 1rem 1rem 0 0;
}

.accordion:nth-last-child(1) {
    border-radius: 0 0 1rem 1rem;
}

.accordion:nth-last-child(1):hover {
    background: crimson;
}

.active,
.accordion:hover {
    background-color: #9b6c65;
}

.accordion:after {
    content: "\002B";
    color: #eee;
    font-weight: bold;
    float: right;
    margin-left: 0.5rem;
}

.active:after {
    content: "\2212";
}

.accordion-content {
    padding: 0 1rem;
    background-color: #c9b6b6;
    color: #e7e7e7;
    max-height: 0rem;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-content ul {
    list-style-type: circle;
    margin: 0rem 0;
    padding: 0.1rem;
    /* max-height: 20rem; */
    white-space: pre-wrap;
    text-align: center;
}

.accordion-content li ul {
    padding: 0.1rem 0;
    display: inline-block;
}

.accordion-title {
    font-size: 2vh;
}


/* 툴팁 입니다 */
.tooltip-container {
    position: relative;
    display: flex;
    place-content: center;
    margin-top: 8vh;
}

/* styling of the tooltip display */
p#tooltip-text {
    display: none;
    position: absolute;
    top: -60px;
    z-index: 1;
    background: #867575;
    padding: 8px;
    font-size: 1rem;
    color: #fff;
    border-radius: 2px;
    animation: fadeIn 0.6s;
}

/* optional styling to add a "wedge" to the tooltip */
p#tooltip-text:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border: 8px solid transparent;
    border-top: 8px solid #867575;
}

/* 캐러셀 */
.carousel-container{
    width: 45vh;
    margin: 30px auto;
    border: 0px solid #000;
    overflow: hidden;
    position: relative;
}

.carousel-slide{
    display: flex;
    width: 100%;
    height: 20rem;
}

#prevBtn{
    position:absolute;
    top: 50%;
    left: -0;
    transform: translate(0%, -50%);
    width: 20px;
    height: 36px;
    color: white;
    background-color: rgb(6, 6, 6);
    /* background: url(img/carousel_prevBtn.png) no-repeat; */
}

#nextBtn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    width: 20px;
    height: 36px;
    color: white;
    background-color: rgb(6, 6, 6);
    /* background: url(img/carousel_nextBtn.png) no-repeat; */
} 

/* 스크롤 검은색 배경*/



#blackScreen {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 3rem;
    display: none;
  }

  #education {
    position: relative;
    padding-top: 30vh;
    padding-bottom: 30vh;
    background-color: white;
    text-align: center;
    font-size: 3rem;
    color: black;
  }

  #education:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0;
    transition: opacity 0.5s;
  }

  #education:hover:before {
    opacity: 0.6;
  }

  #education:hover {
    color: white;
  }

.largeFont {
    font-weight: 600px;
    font-size: 20px;
}

/* 스크롤 */
.box-scroll {
    width: 100%;
    height: 100em;
    background-color: #000;
    color: white;
    box-sizing: border-box;
}

.profile .box-scroll:nth-child(2n) {
    background-color: #e4c8c8;
}

.profile {
    text-align: left;
    /* margin: 3vh; */
}