i {
	color: rgb(0, 0, 0, 0.7);
	padding: 0 20px;
	cursor: pointer;
}
.counter {
	background-color: rgb(219, 161, 211, 0.2);
	border: 1px solid rgb(221, 210, 210);
	display: flex;
	flex-direction: column;
	opacity: 0;
	transition: opacity 0.3s ease-in-out, visibility 0.5s ease-in-out;
	visibility: hidden;
	margin-top: 15px;
}
.volumeCounter.onClick .counter {
	display: flex;
	flex-direction: column;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	visibility: visible;
}
.counterBtn {
	border: none;
	background-color: transparent;
	font-size: 1.5rem;
}
#result {
	border: black;
	border-radius: 10px;
}
